<div class="news-section">
<div class="margin-top">
  <div class="custom-container">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-11">
          <div *ngIf="press.length > 0; else nopress">
            <h4>{{'submenu.press-release' | translate}}</h4><br>
            <div class="row news"
             *ngFor="let pre of contents | paginate: { itemsPerPage: 5 , currentPage: p , totalItems: total}">
              <div class="col-lg-5 col-md-6 col-sm-6">
                  <img class="fit-cover" [src]="pre.better_featured_image?.source_url"
                    [alt]="pre.better_featured_image?.source_url.alt_text" (error)="imageError($event.target);">
                  <!-- <ng-template #showvedio>
                      <iframe [src]="videoURL(af?.acf.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </ng-template>  -->
                  <div class="attachment-type">
                    <p *ngIf="pre.acf.attachment_type == 'image' else video;">{{'label.image' | translate}}</p>
                    <ng-template #video>
                      <p>{{ 'label.video' | translate }}</p>
                    </ng-template>
                  </div>
              </div>
              <div class="col-lg-7 col-md-6 col-sm-6">
                <div>
                  <h5>{{ pre.title.rendered }}</h5>
                  <p class="content">{{ getBrief(pre.content.rendered) }}</p>
                  <a [routerLink]="['/media-room/media', pre.id]">{{'btn.read-more' | translate}}</a><br>
                  <span>{{ pre.date }}</span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <pagination-controls class="press-pagination" (pageChange)="pageChanged($event)" autoHide="true" responsive="true"
                maxSize="9" previousLabel="{{ 'pagination.previous' | translate }}"
                nextLabel="{{ 'pagination.next' | translate }}"></pagination-controls>
            </div>
          </div>
        </div>
        <ng-template #nopress>
          <div class="jumbotron text-center no-data">
            <div [class.dot-falling]="loading"></div>
            <h4 *ngIf="!loading">{{ 'label.no-data' | translate }}</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
</div>
