<div class="custom-container">
  <div class="not-found">
    <div class="not-found-wrapper">
      <div class="icon-wrapper">
        <img src="../../assets/images/404.svg" alt="">
      </div>
      <div class="details">
        <h1 class="error-message">404</h1>
        <p>Requested page not found</p>
      </div>
      <div class="btns">
        <button class="go-back c-btn-outline-blue" (click)="goBack()">GO BACK</button>
        <button class="go-home c-btn-outline-blue" (click)="goHome()">HOME</button>
      </div>
    </div>
  </div>
</div>
