.jobs .job-title {
  margin-top: 1rem;
}

.jobs .job-specs {
  padding: 8px;
  background-color: #01a79b;
  color: #fff;
  margin: 2rem 0px;
}
.jobs .spec-item,
.jobs .job-full-specs table,
.jobs .detail-section h3 {
  text-transform: capitalize;
}

.jobs .job-specs i {
  margin: 0px 4px;
}

.jobs .job-specifications tr td:nth-child(odd) span {
  font-weight: 600;
}

.jobs .job-details {
  margin-top: 2rem;
}

.jobs .detail-section {
  margin-bottom: 2rem;
}
/* Small devices (landscape phones, 544px and up) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {
  h3,
  h4 {
    font-size: 1.5rem;
  }
}
