<div class="about-us structure content-justify" *ngIf="structure; else nodata">
  <div class="title-wrapper">
    <h4 class="title">{{ structure.title.rendered }}</h4>
  </div>
  <div *ngIf="structure.content.rendered" class="description" [innerHTML]="structure.content.rendered">
  </div>
  <div class="org-str">
    <div class="download-btn">
      <i class="fas fa-file-pdf"></i>
      <a [href]="structure.better_featured_image.source_url" target="_blank"  download>{{ 'btn.download' | translate}}</a>
    </div>
    <div class="feature-image">
      <img [src]="structure.better_featured_image.source_url" alt="Structure">
    </div>
  </div>
</div>
<ng-template #nodata>
  <div class="jumbotron no-data">
    <div [class.dot-falling]="loading"></div>
    <h4 *ngIf="!loading" class="text-center">{{ 'label.no-data' | translate }}</h4>
  </div>
</ng-template>
