<div class="about-us structure content-justify" *ngIf="structure; else nodata">
  <div class="title-wrapper">
    <h4 class="title">{{ structure.title.rendered }}</h4>
  </div>
  <div *ngIf="structure.content.rendered" class="description" [innerHTML]="structure.content.rendered">
    <div class="org-str">
      <div class="download-btn">
        <i class="fas fa-file-pdf"></i>
        <span>{{ 'btn.download' | translate}}</span>
      </div>
      <div class="feature-image">
        <img [src]="structure.better_featured_image.source_url" alt="Structure">
      </div>
    </div>
  </div>
</div>
<ng-template #nodata>
  <div class="jumbotron text-center no-data">
    <h4>{{'label.no-data' | translate}}</h4>
  </div>
</ng-template>
