<div class="margin-top">
  <div class="custom-container">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-11">
          <h4>{{ 'label.contact-us' | translate }}</h4>
          <div class="contact-us">
            <table class="table text-blue">
              <tbody>
                <tr>
                  <td>
                    <span><strong>{{ 'label.cs-number' | translate }}</strong></span>
                  </td>
                  <td style="direction: ltr !important">
                    <span> +93 20 2211 708</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><strong>{{ 'label.public.relation' | translate }}</strong></span>
                  </td>
                  <td style="direction: ltr !important">
                    <span> +93 20 2104 338</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><strong>{{ 'label.information.expert' | translate }}</strong></span>
                  </td>
                  <td style="direction: ltr !important">
                    <span> +93 70 0263 467</span>
                  </td>
                </tr>
                <!-- <tr>
                  <td>
                    <span>
                      <strong>Working Hours:</strong>
                    </span>
                  </td>
                  <td>
                    <span>Saturday - Wednesday from 8:00 a.m. to 5:00 p.m. Kabul Time</span>
                  </td>
                </tr> -->
                <tr>
                  <td>
                    <span>
                      <strong>{{ 'label.email' | translate }}</strong>
                    </span>
                  </td>
                  <td>
                    <span>info@nsia.gov.af</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <strong>{{ 'label.address' | translate }}</strong>
                    </span>
                  </td>
                  <td>
                    <span>{{ 'label.nsia-address' | translate }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6"><br>
                <h4>{{'label.feedback-form' | translate}}</h4><br>
                <input type="text" id="name" formControlName='name' placeholder="{{ 'input.name' | translate }}"
                  autofocus>
                <span *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched" class="help-block">{{
                  'error.name' | translate }}</span><br>

                <input type="email" id="email" formControlName='email' placeholder="{{ 'input.email' | translate }}">
                <span *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched" class="help-block">{{
                  'error.email' | translate }}</span><br>

                <input type="text" id="phone" formControlName='phone' placeholder="{{ 'input.phone' | translate }}">
                <br>

                <input type="text" id="organization" formControlName='organization'
                  placeholder="{{ 'input.organization' | translate }}">

              </div>
              <div class="col-md-6"><br><br><br><br>
                <textarea id="message" formControlName='message' placeholder="{{ 'input.message' | translate }}"
                  rows="6">
                        </textarea>
                <span *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"
                  class="help-block">{{
                  'error.message' | translate }}</span><br>

                <button class="subscribe-btn float-right" [disabled]="contactForm.invalid">
                  {{ 'input.submit' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-11">
          <app-news></app-news>
        </div>
      </div>
    </div>
  </div>
</div>
