<div class="tender content-justify" *ngIf="selectedTender; else nodata">
  <h1 class="title">
    {{ selectedTender.title.rendered }}
  </h1>
  <div class="tender-details">

    <div class="p-date">

      <span>{{ 'label.date-posted' | translate }}:</span>
      <strong>{{ selectedTender.date }}</strong>
    </div>


    <div class="c-date">
      <span>{{ 'label.closing-date' | translate }}:</span>
      <strong>{{ selectedTender.acf.closing_date }}</strong>
    </div>


    <div class="t-number">
      <span>{{ 'label.tender-number' | translate }}:</span>
      <strong>{{ selectedTender.acf.tender_number }}</strong>
    </div>


    <div class="t-city">
      <span>{{ 'label.city' | translate }}:</span>
      <strong>{{ selectedTender.acf.city }}</strong>
    </div>

  </div>
  <div class="tender-description">
    <h4>{{ 'label.description' | translate }}:</h4>
    <hr>
    <p>{{ selectedTender.content.rendered }}</p>
  </div>
</div>
<ng-template class="container" #nodata>
  <div class="jumbotron text-center no-data">
    NO DATA
  </div>
</ng-template>
