img{
    width: 90%;  
    height: 400px;
    display: block;
    margin: 3% 4%;
}
.content{
    margin: 0px 4%; 
    width: 100%;
}
p{
    text-align: justify
}
h5{
    font-weight: bold !important;
    margin:15px 0px;
}
h6{
    color :  gray;
}
.featured-video {
    margin: 4% 0px;
    width: 100%;
    height: 400px;
}
.featured-video iframe,
.featured-video img {
    width: 100%;
    height: 100%;
}