img{
    width: 80%;  
    height: 400px;
    display: block;
    margin: 3% auto;
}
.content{
    margin: 0px 10%;
}
h5{
    font-weight: bold !important;
    margin:15px 0px;
}
h6{
    color :  gray;
}