<div class="margin-top content-justify">
  <div class="section-wrapper" *ngIf="news; else nocontent">
    <div class="row" *ngIf="news.acf; else noimage">
      <img class="fit-cover" *ngIf="news.acf.attachment_type == 'image' else vedio;"
        [src]="news.better_featured_image?.source_url" [alt]="news.better_featured_image?.source_url.alt_text"
        (error)="imageError($event.target);">
      <ng-template #vedio>
        <div class="col-md-12">
          <iframe width="850" height="500" [src]="videoLink" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ng-template>
    </div>
    <ng-template #noimage>
      <img class="fit-cover" [src]="news.better_featured_image?.source_url"
        [alt]="news.better_featured_image?.source_url.alt_text" (error)="imageError($event.target);">
    </ng-template>
    <div class="row">
      <div class="content">
        <h2>{{ news.title?.rendered }}</h2>
        <h6>{{ news.date }}</h6>
        <p *ngIf="news.content" class="details" [innerHTML]="news.content?.rendered"></p>
      </div>
    </div>
  </div>
  <ng-template #nocontent>
    <div class="jumbotron no-data">
      <div [class.dot-falling]="loading"></div>
      <h4 *ngIf="!loading" class="text-center">{{ 'label.no-data' | translate }}</h4>
    </div>
  </ng-template>
</div>
