<div class="margin-top content-justify">
  <div class="section-wrapper" *ngIf="news">
    <div class="row" *ngIf="news.acf; else noimage">
      <img class="fit-cover" *ngIf="news.acf.attachment_type == 'image' else vedio;"
        [src]="news.better_featured_image?.source_url" [alt]="news.better_featured_image?.source_url.alt_text"
        (error)="imageError($event.target);">
      <ng-template #vedio>
        <div class="col-md-12 featured-video">
          <iframe [src]="videoURL(news?.acf.link)" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            style="height:100%;width:100%"></iframe>
        </div>
      </ng-template>
    </div>
    <ng-template #noimage>
      <img class="fit-cover" [src]="news.better_featured_image?.source_url"
        [alt]="news.better_featured_image?.source_url.alt_text" (error)="imageError($event.target);">
    </ng-template>
    <div class="row">
      <div class="content">
        <h2>{{ news.title?.rendered }}</h2>
        <h6>{{ news.date }}</h6>
        <p *ngIf="news.content; else nocontent">{{ news.content?.rendered }}</p>
        <ng-template #nocontent>
          <div class="jumbotron no-data">
            <div [class.dot-falling]="loading"></div>
            <h4 *ngIf="!loading" class="text-center">{{ 'label.no-data' | translate }}</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
