  .margin-top{
    margin-top: 15px;
  }
  h4,h5 {
    font-weight: bold !important;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  span {
    color: gray;
    font-size: small;
    font-weight: bold;
  }
  
  a {
    font-weight: bold;
    color: #282560
  }
  
  .news {
    margin-bottom: 20px;
    overflow-wrap: break-word;
  }
  
  .attachment-type {
    bottom: 0;
    position: absolute;
    left: 0;
    margin-left: 15px;
    background-color: #01a79b;
    color: #fff;
    padding: 1% 4%;
    text-align: center;
  }
  
  .attachment-type p {
    margin: 0px;
  }
  
  .pmaterial {
    background-color: #01a79b;
    margin: 0px 10px;
    margin-bottom: 20px;
  }
  
  a:hover:not(.active) {
    color: #01a79b;
    cursor: pointer;
  }
  
  .news-pagination /deep/ .ngx-pagination .current {
    background: #01a79b;
  }
  
  .text-center {
    text-align: center;
  }
  
  .icon {
    height: 80%;
    width: 50%;
    margin: auto;
  }
  .content{
    text-align: justify
  }
  .featured-video iframe {
    width: 100%;
    height: 100%;
}