<div class="margin-top">
  <div class="custom-container">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-12 col-md-8 col-sm-8 col-lg-8 col-xs-9">
          <div class="content">
            <!-- <router-outlet></router-outlet> -->
            <main [@fadeInOut]="getPage(o)">
              <router-outlet #o="outlet"></router-outlet>
            </main>

          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-11">
          <app-news></app-news>
        </div>
      </div>
    </div>
  </div>
</div>
