<div class="margin-top">
  <div class="custom-container">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-12 col-md-8 col-sm-8 col-lg-8 col-xs-9">
          <div class="content">
            <!-- <router-outlet></router-outlet> -->
            <main [@fadeInOut]="getPage(o)">
              <router-outlet #o="outlet"></router-outlet>
            </main>

          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-11">
          <div class="news" *ngIf="showNews; else showPromo">
            <app-news></app-news>
          </div>
          <ng-template #showPromo>
            <div class="promote-material globalsidebar">
              <div class="title">
                <h5>{{'label.promoting-material' | translate}}</h5>
              </div>
              <div class="materials">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                    <div class="p-material">
                      <div class="promo-image">
                        <img src="../../../assets/images/promo.png" alt="promo">
                      </div>
                      <div class="download-promo">
                        <img src="../../../assets/images/pdf.png" alt="pdf">
                        <span>{{'btn.download' | translate}}</span>
                      </div>
                    </div>
                    <span class="m-name">Org Profile</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                    <div class="p-material">
                      <div class="promo-image">
                        <img src="../../../assets/images/promo.png" alt="promo">
                      </div>
                      <div class="download-promo">
                        <img src="../../../assets/images/pdf.png" alt="pdf">
                        <span>{{'btn.download' | translate}}</span>
                      </div>
                    </div>
                    <span class="m-name">Org Profile</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                    <div class="p-material">
                      <div class="promo-image">
                        <img src="../../../assets/images/promo.png" alt="promo">
                      </div>
                      <div class="download-promo">
                        <img src="../../../assets/images/pdf.png" alt="pdf">
                        <span>{{'btn.download' | translate}}</span>
                      </div>
                    </div>
                    <span class="m-name">Org Profile</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                    <div class="p-material">
                      <div class="promo-image">
                        <img src="../../../assets/images/promo.png" alt="promo">
                      </div>
                      <div class="download-promo">
                        <img src="../../../assets/images/pdf.png" alt="pdf">
                        <span>{{'btn.download' | translate}}</span>
                      </div>
                    </div>
                    <span class="m-name">Org Profile</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                    <div class="p-material">
                      <div class="promo-image">
                        <img src="../../../assets/images/promo.png" alt="promo">
                      </div>
                      <div class="download-promo">
                        <img src="../../../assets/images/pdf.png" alt="pdf">
                        <span>{{'btn.download' | translate}}</span>
                      </div>
                    </div>
                    <span class="m-name">Org Profile</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                    <div class="p-material">
                      <div class="promo-image">
                        <img src="../../../assets/images/promo.png" alt="promo">
                      </div>
                      <div class="download-promo">
                        <img src="../../../assets/images/pdf.png" alt="pdf">
                        <span>{{'btn.download' | translate}}</span>
                      </div>
                    </div>
                    <span class="m-name">Org Profile</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
