<div class="custom-container media-room">
  <div class="row">
    <div class="col-md-8 col-sm-8">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="promote-material globalsidebar">
          <div class="title">
            <h5>Promoting material</h5>
          </div>

          <div class="materials">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                <div class="p-material">
                  <div class="promo-image">
                    <img src="../../../assets/images/promo.png" alt="promo">
                  </div>
                  <div class="download-promo">
                    <img src="../../../assets/images/pdf.png" alt="pdf">
                    <span>Download</span>
                  </div>
                </div>
                <span class="m-name">Org Profile</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                <div class="p-material">
                  <div class="promo-image">
                    <img src="../../../assets/images/promo.png" alt="promo">
                  </div>
                  <div class="download-promo">
                    <img src="../../../assets/images/pdf.png" alt="pdf">
                    <span>Download</span>
                  </div>
                </div>
                <span class="m-name">Org Profile</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                <div class="p-material">
                  <div class="promo-image">
                    <img src="../../../assets/images/promo.png" alt="promo">
                  </div>
                  <div class="download-promo">
                    <img src="../../../assets/images/pdf.png" alt="pdf">
                    <span>Download</span>
                  </div>
                </div>
                <span class="m-name">Org Profile</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                <div class="p-material">
                  <div class="promo-image">
                    <img src="../../../assets/images/promo.png" alt="promo">
                  </div>
                  <div class="download-promo">
                    <img src="../../../assets/images/pdf.png" alt="pdf">
                    <span>Download</span>
                  </div>
                </div>
                <span class="m-name">Org Profile</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                <div class="p-material">
                  <div class="promo-image">
                    <img src="../../../assets/images/promo.png" alt="promo">
                  </div>
                  <div class="download-promo">
                    <img src="../../../assets/images/pdf.png" alt="pdf">
                    <span>Download</span>
                  </div>
                </div>
                <span class="m-name">Org Profile</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 material-wrapper">
                <div class="p-material">
                  <div class="promo-image">
                    <img src="../../../assets/images/promo.png" alt="promo">
                  </div>
                  <div class="download-promo">
                    <img src="../../../assets/images/pdf.png" alt="pdf">
                    <span>Download</span>
                  </div>
                </div>
                <span class="m-name">Org Profile</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


