<p>
  media-room works!
</p>



<div>
    <a href="" routerLink="./event">Events</a><br>
    <a href="" routerLink="./news-updates">News and updates</a><br>
    <a href="" routerLink="./press-release">Press release</a><br>
    <a href="" routerLink="./magazine">Magazine</a><br>
    <a href="" routerLink="./newsletters">Newsletters</a><br>
    <a href="" routerLink="./poster">Poster</a><br>
    <a href="" routerLink="./booklet">Booklet</a><br>
    <a href="" routerLink="./brochures">Brochures</a><br>
  </div>