<div class="custom-container">

  <div class="services">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="m-service active-service" id="stats" (click)="toggleServices($event.target)">
          <div class="m-contents">
            <div class="sr-icon">
              <img src="../../../assets/logo/stats.svg" alt="">
            </div>
            <div class="sr-name sp">
              <p>statistics</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="m-service" id="sdu" (click)="toggleServices($event.target)">
          <div class="m-contents">
            <div class="sr-icon">
              <img src="../../../assets/logo/sys-dev.svg" alt="">
            </div>
            <div class="sr-name">
              <p>systems</p>
              <p>development unit</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="m-service " id="gis" (click)="toggleServices($event.target)">
          <div class="m-contents">
            <div class="sr-icon">
              <img src="../../../assets/logo/gis.svg" alt="">
            </div>
            <div class="sr-name">
              <p>Geographical</p>
              <p>Information Systems</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="m-service " id="nid" (click)="toggleServices($event.target)">
          <div class="m-contents">
            <div class="sr-icon">
              <img src="../../../assets/logo/nid.svg" alt="">
            </div>
            <div class="sr-name sp">
              <p>national identity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-wrapper">

    <nav class="sidebar-nav">
      <div class="sidebar-title menu-item active-item" (click)="activeMenu($event.target)">
        <span> <i class="fas fa-chevron-right"></i> {{'about ' + serviceName}}</span>
      </div>
      <div class="sidebar">
        <div class="sidebar-menu" *ngIf="deputyDepartments">
          <div class="accordion menu-item" id="{{ dp.acf.department }}" *ngFor="let dp of deputyDepartments" (click)="activeMenu($event.target)">
            <div class="m-item-c" data-toggle="collapse" [attr.data-target]="'#sub-' + dp.acf.department" aria-expanded="true"
              aria-controls="collapseOne">
              <i class="fas fa-chevron-right"></i>
              <span>{{ dp.acf.department }}</span>
              <i class="fas fa-chevron-down" *ngIf="dp.headships"></i>
            </div>

            <div id="{{ 'sub-' + dp.acf.department }}" class="collapse sub-menu" [attr.data-parent]="'#' + dp.acf.department">
              <!-- sub menus go here -->
              <div class="sub-menu-item" (click)="getDepartmentDetails(dp.id, $event.target)">
                <p>{{ 'about ' + dp.acf.department }}</p>
              </div>
              <div class="sub-menu-item" *ngFor="let subDp of dp.headships" (click)="getDepartmentDetails(subDp.id, $event.target)">
                <p>{{ subDp.acf.department }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="sidebar-toggler">
      <div class="t-btn" (click)="toggleNavbar()">0</div>
    </div>
    <div class="contents" *ngIf="contents;else nodata">

      <!-- <router-outlet></router-outlet> -->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="deputy-image">
            <img [src]="contents.better_featured_image.source_url" alt="image">
          </div>
          <div class="deputy-info">
            <strong>Ahmad</strong>
          </div>
        </div>
        <div class="col-md-9 col-sm-6">
          <div class="details-title">
            <h5> <strong> {{ contents.title.rendered}} </strong></h5>
          </div>
          <div class="details">{{ contents.content.rendered }}</div>
        </div>
      </div>

    </div>
    <ng-template #nodata>
      <div class="contents">
        <div class="jumbotron text-center no-data">
          <h4>NO DATA</h4>
        </div>
      </div>
    </ng-template>
  </div>
</div>
