<div class="header">
  <h1>NSIA Header</h1>
</div>
<div id="navbar">
  <a href="" routerLink="">Home</a>
  <a href="" routerLink="about-us">About Us</a>
  <a href="" routerLink="services">Services</a>
  <a href="" routerLink="library">Library</a>
  <a href="" routerLink="access-info">Access to info</a>
  <a href="" routerLink="media-room">Media Room</a>
  <a href="" routerLink="opportunities">Opportunities</a>

  <div>
    <button (click)="useLanguage('en')">en</button>
    <button (click)="useLanguage('fa')">fa</button>
    <button (click)="useLanguage('ps')">ps</button>
  </div>
</div>