<div class="margin-top">
    <div class="custom-container">
        <div class="section-wrapper">
          <div class="row">
              <div class="col-md-8 col-sm-7 col-xs-11">
                <div *ngIf="newsBriefs.news != ''; else nonews">
                  <h4>{{ 'sidebar.title' | translate }}</h4><br> 
                    <div class="row news" *ngFor="let nw of newsBriefs.news | paginate: { itemsPerPage: 4 , currentPage: p }">
                        <div class="col-md-4 col-sm-7">
                            <img src="{{ nw.better_featured_image.source_url }}" alt="{{ nw.better_featured_image.alt_text }}"
                            (error)="imageError($event.target);">
                            <div class="news-date">
                                <p>image</p>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-5">
                                <div>
                                    <h5>{{ nw.title.rendered }}</h5>
                                    <p>{{ nw.content.rendered }}</p>
                                    <a [routerLink]="['../media',nw.id]">Read more ...</a><br>
                                    <span>{{ nw.date }}</span>
                                </div>
                        </div>
                    </div> 
                    <div class="text-center">
                        <pagination-controls class="news-pagination"
                        (pageChange)="p = $event"  
                        autoHide="true"
                        responsive="true"
                        maxSize="9"
                        previousLabel="{{ 'pagination.previous' | translate }}"
                        nextLabel="{{ 'pagination.next' | translate }}"
                        ></pagination-controls>
                    </div>
                </div>
              </div>
              <ng-template #nonews>
                <div class="jumbotron text-center no-data">
                  <h4>NO DATA</h4>
                </div>
              </ng-template>
              <div class="col-md-4 col-sm-5 col-xs-11 globalsidebar ">
                  <h5>Pormotional Material</h5>
                  <hr>
                  <div class="row">
                      <div class="col-md-5 pmaterial">
                            test
                      </div>
                      <div class="col-md-5 pmaterial">
                            test
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 pmaterial">
                            test
                      </div>
                      <div class="col-md-5 pmaterial">
                            test
                      </div> 
                  </div>
                  <div class="row">
                    <div class="col-md-5 pmaterial">
                          test
                    </div>
                    <div class="col-md-5 pmaterial">
                          test
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>