<div class="margin-top">
  <div class="custom-container">
    <div class="section-wrapper">
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-11">
          <div *ngIf="news != ''; else nonews">
            <h4>{{'label.news' | translate}}</h4><br>
            <div class="row news" *ngFor="let nw of news | paginate: { itemsPerPage: 4 , currentPage: p }">
              <div class="col-md-4 col-sm-7 featured-video">
                  <img [src]="nw.better_featured_image?.source_url" [alt]="nw.better_featured_image?.source_url.alt_text"
                  (error)="imageError($event.target);">
                  <!-- <ng-template #showvedio>
                      <iframe [src]="videoURL(nw?.acf.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                  </ng-template>  -->
                <div class="attachment-type">
                  <p *ngIf="nw.acf.attachment_type == 'image' else vedio;">{{'label.image' | translate}}</p>
                  <ng-template #vedio>
                    <p>{{ 'label.video' | translate }}</p>
                  </ng-template>
                </div>
              </div>
              <div class="col-md-7 col-sm-5">
                <div>
                  <h5>{{ getBrief(nw.title.rendered) }}</h5>
                  <p class="content" *ngIf="nw.content">{{ getBrief(nw.content.rendered) }}</p>
                  <a [routerLink]="['/media-room/media', nw.id]">{{'btn.read-more' | translate}}</a><br>
                  <span>{{ nw.date }}</span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <pagination-controls class="news-pagination" (pageChange)="p = $event" autoHide="true" responsive="true"
                maxSize="9" previousLabel="{{ 'pagination.previous' | translate }}"
                nextLabel="{{ 'pagination.next' | translate }}"></pagination-controls>
            </div>
          </div>
        </div>
        <ng-template #nonews>
          <div class="jumbotron text-center no-data">
            <h4>{{'label.no-data' | translate}}</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
