<div class="wrapper">
  <div class="content">
    <div class="nsia-log">
      <img src="../../assets/logo/amended-logo final final-01.svg" alt="Logo">
    </div>
    <div class="lang-buttons">
      <button (click)="detectLanguage('en')">English</button>
      <button (click)="detectLanguage('fa')">دري</button>
      <button (click)="detectLanguage('ps')">پښتو</button>
    </div>
   
  </div>
  <div class="cp-right">
      <span>© {{ year }}, All rights reserved, National Statistics and Information Authority</span>
    </div>
</div>
