.tenders .title {
    font-weight: 600;
    font-size: 30px;
}

/* First Primary: #01a79b green */
/* Second Primary: #282560 blue */

.tenders .tender .headline {
    color: #282560;
    cursor: pointer;
    transition: color .1s ease-in-out;
}


.tenders .tender .headline:hover {
    color: #01a79b;
    text-decoration: underline;
}