<div class="globalsidebar">
  <h4>{{ 'label.news' | translate }}</h4>
  <hr>
  <div *ngIf="newsBriefs.news != ''; else nonews">
    <div class="row" *ngFor="let nw of newsBriefs.news">
      <div class="col-md-4 col-sm-5 col-xs-3 newsside">
        <img src="../../assets/images/newsIcon.png" alt="News">
      </div>
      <div class="col-md-9 col-sm-7 col-xs-4 display newsside">
        <a [routerLink]="['/media-room/media', nw.id]">
          {{ getBrief(nw.title.rendered) }}
        </a>
        <p>{{ nw.date }}</p>
      </div>
    </div>
  </div>
  <ng-template #nonews>
    <div class="jumbotron text-center no-data">
      <h4>{{'label.no-data' | translate}}</h4>
    </div>
  </ng-template>
  <div class="text-center">
    <button class="btn btn-outline-info" (click)="readMoreRedirect($event.target)"
      id="news-read-more">{{'btn.view-all-news' | translate}}</button>
  </div>
</div>
