.globalsidebar {
    height: 100%;
    overflow-wrap: break-word;
    padding:15px; 
    font-weight: bold !important;
    border : 1px solid transparent;
    border-left : 1px solid #282560; 
    padding-left:30px 
}
.globalsidebar a {
    display: block;
    color:#282560;
}
.globalsidebar a:hover:not(.active) {
    color: #01a79b;
}
.margin-top{
    margin-top: 30px;
}
.globalsidebar p{
    color: gray;
    font-size: small;
    font-weight: normal;
}
h4{
    font-weight: bold !important;
}
img {
    width: 100%;
    height: 100% ;
}
.display{
    margin-bottom: 10px;
    margin-left: -13px;
}