<div class="about-us about-nsia content-justify" *ngIf="aboutNSIA; else nodata">
  <div class="title-wrapper">
    <h4 class="title">{{ aboutNSIA.title.rendered }}</h4>
  </div>
  <div class="vision-mission">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h5>{{'label.vision' | translate }}</h5>
        </div>
        <div class="vision">
          <p>{{ aboutNSIA.acf?.vision }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h5>{{ 'label.mission' | translate }}</h5>
        </div>
        <div class="mission">
          <p>{{ aboutNSIA.acf?.mission }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-details">
    <div *ngIf="aboutNSIA.content" class="details" [innerHTML]="aboutNSIA.content.rendered">
    </div>
    <div *ngIf="videoLink"> 
      <iframe width="850" height="500" [src]="videoLink" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<ng-template #nodata>
  <div class="jumbotron no-data">
    <div [class.dot-falling]="loading"></div>
    <h4 *ngIf="!loading" class="text-center">{{ 'label.no-data' | translate }}</h4>
  </div>
</ng-template>
