<div class="about-us about-nsia" *ngIf="aboutNSIA; else nodata">
  <div class="title-wrapper">
    <h4 class="title">{{ aboutNSIA.title.rendered }}</h4>
  </div>
  <div class="vision-mission">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h5>{{'label.vision' | translate }}</h5>
        </div>
        <div class="vision">
          <p>{{ aboutNSIA.acf?.vision }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h5>{{ 'label.mission' | translate }}</h5>
        </div>
        <div class="mission">
          <p>{{ aboutNSIA.acf?.mission }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-details">
    <div class="featured-video">
        <!-- <iframe src="https://www.youtube.com/embed/EDN6l8wLn5o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <iframe *ngIf="aboutNSIA.acf.hasOwnProperty('link'); else novideo" [src]="videoURL(aboutNSIA.acf.link)" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
        <ng-template #novideo>
          <img src="../../../assets/images/noimage-h.png" class="fit-cover" alt="">
        </ng-template>
    </div>
    <div class="details">
      <p>{{ aboutNSIA.content?.rendered }}</p>
    </div>
  </div>
</div>
<ng-template #nodata>
  <div class="jumbotron text-center no-data">
    <h4>{{'label.no-data' | translate}}</h4>
  </div>
</ng-template>
