/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

@font-face {
  font-family: 'Bahij Halvetica';
  src: url('./assets/fonts/bahij_helvetica_neue_bold_by_bahijvirtualacademy-dammcmt_0.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Bahij Halvetica';
  src: url('./assets/fonts/Bahij_Helvetica_Neue-Light_1.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Bahij Halvetica';
  src: url('./assets/fonts/bahij_helvetica_neue_roman_by_bahijvirtualacademy-dammd50_0.ttf');
  font-weight: normal;
}

/* First Primary: #01a79b green */
/* Second Primary: #282560 blue */

body {
  font-family: 'Raleway', 'Bahij Halvetica', sans-serif;
  color: #282560 !important;
  background: #f9f9f9;

}

.bg-gradient {
  background: linear-gradient(to right, rgb(39, 35, 97), rgba(39, 35, 97, 0) 100%);
}


#scroll {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 1200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #01a79b;
  color: #fff;
  display: none;
  padding: 11px 16px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px
}

#scroll i {
  font-size: 28px;
}

.text-green {
  color: #01a79b;
}

.text-blue {
  color: #282560;
}

.custom-form-control {
  background-color: #282560;
  color: #fff;
}

.custom-container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;

}

.c-btn-outline-white {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 6px 16px;
  transition: background .2s ease-in-out;
}

.c-btn-outline-white:hover {
  background-color: #fff;
  color: #282560;
}

.form-control,
.btn {
  border-radius: 0px !important;
}

.form-control:focus {
  outline: none !important;

}

.p-16 {
  padding-left: 16px;
  padding-right: 16px;
}

/* CARD CSS */
.card {
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);   */
  background-color: #fff;
  border-radius: 0px;
}

.card .card-title {
  padding: 6px;
}

.card .card-body {
  padding: 6px;
}

/* Breadcrumb Navigation CSS */


.navigation .full-path {
  display: inline;
  margin: 6px 0px;

}

.navigation .fullpath {
  text-transform: uppercase;
  color: grey;
}

.navigation i {
  font-size: 10px;
  margin: 0px 8px;
  color: grey;
}

.navigation .currentpath {
  color: #01a79b;
  font-weight: 600;
  text-transform: uppercase;

}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 137, 137);
}

.globalsidebar {
  height: 100%;
  overflow-wrap: break-word;
  background-color: #f1f1f1;
  padding: 15px;
  font-weight: bold !important;
}

.globalsidebar a {
  display: block;
  color: #282560;
}

.globalsidebar a:hover:not(.active) {
  color: #01a79b;
}

.margin-top {
  margin-top: 30px;
}

.globalsidebar p {
  color: gray;
  font-size: small;
  font-weight: normal;
}

.verticalLine {
  border-left: 1px solid #282560;
}

/* General CSS */
.no-data {
  width: 100%;
  border-radius: 0px;
  color: #BFC0C0;
}


@media only screen and (max-width: 1050px) {
  .custom-container {
    width: 95% !important;
    margin: auto;
  }
}
