/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

@font-face {
  font-family: 'Bahij Halvetica';
  src: url('./assets/fonts/bahij_helvetica_neue_bold_by_bahijvirtualacademy-dammcmt_0.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Bahij Halvetica';
  src: url('./assets/fonts/Bahij_Helvetica_Neue-Light_1.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Bahij Halvetica';
  src: url('./assets/fonts/bahij_helvetica_neue_roman_by_bahijvirtualacademy-dammd50_0.ttf');
  font-weight: normal;
}

/* First Primary: #01a79b green */
/* Second Primary: #282560 blue */

body {
  font-family: 'Raleway', 'Bahij Halvetica', sans-serif;
  color: #282560 !important;
  background: #fff;

}

button {
  text-transform: uppercase;
}

.bg-gradient {
  background: linear-gradient(to right, rgb(39, 35, 97), rgba(39, 35, 97, 0) 100%);
}

.fit-cover {
  object-fit: cover;
}

/* .featured-video {
  max-height: 240px !important;
  overflow: hidden;
} */


#scroll {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 1200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #01a79b;
  color: #fff;
  display: none;
  padding: 11px 16px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px
}

#scroll i {
  font-size: 28px;
}

.text-green {
  color: #01a79b;
}

.text-blue {
  color: #282560;
}

.custom-form-control {
  background-color: #282560;
  color: #fff;
}

/* .service-custom-container, */
.custom-container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;

}

.c-btn-outline-blue {
  border: 1px solid #282560;
  background-color: #282560;
  color: #fff;
  padding: 6px 16px;
  transition: background .2s ease-in-out;
}

.c-border-blue:hover {
  border: 1px solid #282560;
}

.c-btn-outline-blue:hover {
  background-color: #fff;
  color: #282560;
}

.c-btn-outline-white {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 6px 16px;
  transition: background .2s ease-in-out;
}

.c-btn-outline-white:hover {
  background-color: #fff;
  color: #282560;
}

.form-control,
.btn {
  border-radius: 0px !important;
}

.form-control:focus {
  outline: none !important;

}

.form-control:focus {
  color: #fff;
  border: none !important;
  background-color: #282560;
  box-shadow: none;
}

.search-input .wrapper {
  display: flex;
  align-items: center;
  color: grey;
  border-bottom: 1px solid grey;
  transition: border .5s ease-in-out;
}

.search-input .wrapper i {
  transition: color .5s ease-in-out;
}

.search-input .wrapper:focus-within {
  border-bottom: 1px solid #282560;
  color: #282560;
}


.search-input .wrapper .search-box {
  border: none;
  padding: 4px;
  outline: none !important;
}


.p-16 {
  padding-left: 16px;
  padding-right: 16px;
}

/* CARD CSS */
.card {
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);   */
  background-color: #fff;
  border-radius: 0px;
}

.card .card-title {
  padding: 6px;
}

.card .card-body {
  padding: 6px;
}

/* Breadcrumb Navigation CSS */
/* 
.navigation {
  margin-bottom: 14px;
} */

.navigation i {
  font-size: 10px;
  margin: 0px 8px;
  color: grey;
}

.navigation .full-path {
  display: inline-block;
  margin: 6px 0px;

}

.navigation .fullpath {
  text-transform: uppercase;
  color: grey;
}


.navigation .currentpath {
  color: #01a79b;
  font-weight: 600;
  text-transform: uppercase;

}

.content-justify {
  text-align: justify;
}

.about-us .title-wrapper {
  margin-bottom: 2rem;
}

.about-us .title {
  font-weight: 600;
}

.about-us .description {
  margin-top: 2rem;
}

.globalsidebar {
  height: 100%;
  overflow-wrap: break-word;
  padding: 15px;
  font-weight: bold !important;
  border: 1px solid transparent;
  border-left: 1px solid #282560;
  padding-left: 30px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 137, 137);
}

/* General CSS */
.no-data {
  width: 100%;
  border-radius: 0px;
  color: #BFC0C0;
}


@media only screen and (max-width: 1050px) {
  .custom-container {
    width: 95% !important;
    margin: auto;
  }

  .service-custom-container {
    width: 100vw;
  }

  .service-custom-container .card {
    border: none !important;
  }

  .latest-section-res {
    display: block !important;
  }

  .latest-section-lg {
    display: none !important;
  }
}


/**
* SIDEBAR CSS
*/
.sidebar-nav {
  position: absolute;
  width: 19vw;
  min-height: 400px;
  color: grey;
  overflow: hidden;
  z-index: 6;
  transition: width .5s;
  border-right: 1px solid #282560;

}

.sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow-y: scroll;
  padding-bottom: 3rem;
}

.sidebar-nav .sidebar-title {
  padding: 0px 4px;
  cursor: pointer;
  color: grey;
}

/* ACTIVE MENU ITEM CSS */


.active-item {
  color: #282560 !important;
  font-weight: 600 !important;
}

.active-item .fa-chevron-right {
  /* visibility: visible !important; */
  display: inline !important;
}
/* 
.active-item .fa-chevron-right {
  display: none
}

.active-item .fa-chevron-left {
  display: inline-block;
} */


.sidebar-nav .fa-chevron-right {
  /* visibility: hidden; */
  display: none;
}

.sidebar .sidebar-menu ul {
  list-style: none;
  padding: 0px;
  display: block;
}

.sidebar .sidebar-menu ul li {
  margin: 2px;
}

.toggler {
  margin-left: 200px;
}

/* Contents CSS */

.main-wrapper .contents {
  width: calc(100% - 19vw);
  padding: 0px 3rem;
  float: right;
  transition: margin .5s;
}

.active-sub-menu p {
  border-left: 4px solid #01a79b;
  padding-left: 8px;
  font-weight: 600 !important;
  color: #282560;
}





.sidebar-toggler {
  position: absolute;
  display: none;
  padding: 8px 16px;
  background-color: #01a79b;
  color: #fff;
  transition: margin .5s;
  z-index: 100;

}

/* SIDEBAR MENUS */
.sidebar .menu-item {
  border-top: 1px solid #282560;
  padding: 6px 8px;
  cursor: pointer;
}

.sidebar .menu-item .m-item-c {
  height: fit-content;
}

.sidebar .menu-item .m-item-c .fa-chevron-down {
  float: right;
  position: relative;
  font-size: 10px;
  line-height: 2.3;
}

.sidebar .menu-item .m-item-c .fa-chevron-right {
  font-size: 15px;
  margin-right: 4px;
}



.sidebar .menu-item .m-item-c span {
  font-size: 18px;
  text-transform: capitalize;
}

.sidebar .menu-item .sub-menu .sub-menu-item {
  padding: 6px;
  margin-left: 1rem;
  transition: background .5s;
}

.sidebar .menu-item .sub-menu .sub-menu-item:hover {
  background-color: rgb(236, 236, 236);
}

.sidebar .menu-item .sub-menu .sub-menu-item p {
  margin: 0px !important;
}

.sidebar-nav .pr-services {
  color: #282560;
  font-weight: 600;
  cursor: auto;
}

.sidebar .provincial-services ul {
  list-style: none;
  padding-top: 12px;
  border-top: 1px solid #282560;
}

.sidebar .provincial-services ul li {
  padding: 4px 0px;
  padding-left: 4px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.sidebar .provincial-services ul li.active-province {
  color: #282560;
  font-weight: 600;
}

.sidebar .provincial-services ul li:hover {
  color: #282560;
  background-color: #eae9ff;
}

.sidebar .provincial-services i {
  font-size: 12px;
  color: #282560;
}

.sidebar .provincial-services ul li:hover i,
.sidebar .provincial-services ul li.active-province i {
  visibility: visible !important;
}



@media only screen and (max-width: 900px) {
  .sidebar-toggler {
    display: block;
    left: 12px;
  }

  .contents {
    width: 100%;
  }

  .sidebar-nav {
    width: 0px;
    background-color: #fff !important;
  }
}



@media only screen and (min-width: 1000px) {
  .sidebar-nav {
    width: 19vw !important;
  }
}


/**
* SIDEBAR CONTENT PAN
*/
.main-wrapper {
  min-height: 600px;
  overflow: hidden;
  margin-top: 2rem;
}

.active-service {
  background-color: #282560;
  color: #fff;
}

.services .m-service {
  display: flex;
  min-height: 50px;
  margin: 1rem 0px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
}

.services .m-contents {
  display: flex;
  width: 100%;
  border: 1px solid #282560;

}

.services .sr-icon {
  height: 100%;
  background-color: #282560;
  width: 19%;
  border: 1px solid #282560;
}

.active-service .sr-icon {
  background-color: #01a79b !important;
}

.services .sr-icon img {
  width: 33px;
  margin: auto;
  padding-top: 6px;
  display: block;
}

.services .sr-name {
  padding: 0px 10px;
  flex: auto;
  display: table;
  height: 100%;
}

.services .sr-name p {
  display: table-cell !important;
  margin: 0px !important;
  font-weight: 600;
  vertical-align: middle
}

.main-wrapper .contents ul {
  list-style: none;
}


.main-wrapper .contents .deputy-image {
  margin-bottom: 1rem;
}

.main-wrapper .contents .deputy-image img {
  width: 100%;
}

.main-wrapper .contents .details {
  text-align: justify;
}



/*
* PROMOTIONAL MATERIALS CSS
*/

/* First Primary: #01a79b green */
/* Second Primary: #282560 blue */
.promote-material .material-wrapper {
  margin-bottom: 1rem;
  padding: 0px !important;
}

@media only screen and (min-width: 1500px) {
  .promote-material .material-wrapper {
    flex: 0 0 40%;
  }
}


.promote-material {
  padding: 0px 25px;
}

.promote-material .title {
  margin-block-end: 2rem;
}


.promote-material .p-material {
  background-color: #01a79b;
  padding: .5rem 1rem;
  max-width: fit-content;
}

.promote-material .promo-image {
  width: 58px;
  display: block;
  margin: 10px auto;
}

.m-name {
  font-size: 12px;
  font-weight: 600;
}

.promote-material .promo-image img {
  width: 100%;
}

.promote-material .download-promo {
  width: 100px;
  display: block;
  cursor: pointer;
  margin: auto;
  padding: 1px 7px;
  background-color: rgba(225, 225, 225, 0.3);
}

.promote-material .download-promo img {
  width: 18%;
}

.promote-material .download-promo span {
  font-size: 12px;
  color: #fff;
  margin: 0px 6px;
}


/*
 * MEDIA ROOM
 */

.attachment-type {
  bottom: 0;
  position: absolute;
  background-color: #01a79b;
  color: #fff;
  padding: 1% 4%;
  text-align: center;
}

.attachment-type p {
  margin: 0px;
}
