.carousel .carousel-item img {
  height: 80vh;
  object-fit: cover;
}

.c-gradient {
  position: absolute;
  height: 100%;
  background-image: linear-gradient(180deg, #fffffffd 0%, rgba(255, 255, 255, 0) 13%);
  width: 100%;
  top: 0;
}


.service-card .nsia-main {
  margin-bottom: 2rem;
}




@media only screen and (max-width: 900px) {
  .carousel .carousel-item img {
    height: 50vh;
  }

  .service-wrapper {
    background-color: red;
    width: 100vw;
  }
}


@media only screen and (max-width: 990px) {
  .customers-wrapper {
    margin: auto;
  }

}


.carousel a {
  z-index: 15;
}

.carousel-indicators li {
  background-clip: unset !important;
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 30px !important;
  width: 15px;
  height: 15px;
}

.caption {
  color: #fff;
  height: 80vh;
  padding: 7% 0px;
  position: absolute;
  z-index: 10;
  top: 8%;
}

/* .caption .custom-container {
  padding: 16px;
} */

.caption .service-details {
  width: 45%;
}

.caption .service-details h1 {
  line-height: 1.4;
  text-align: initial;
}

.caption .service-details h5 {
  margin: 2rem 0px;
  line-height: 1.5;

}

.caption h1 {
  word-break: break-word;
  font-size: 2.5rem;
  font-weight: 600;
}

.section-wrapper {
  margin-top: 4rem;
}

.stat-card {
  max-height: 200px;
  margin-bottom: 8px;
  overflow: hidden;
}

.stat-card img,
.billboard img {
  width: 100%;
  /* height: 150px; */
  position: static;
}

.stat-card .stats,
.billboard .billboard-contents {
  padding: 18px;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #fff;

}


.service-card {
  color: #282560;
  text-align: justify;
}


.service-card .service-title h1 {
  text-transform: uppercase;
  margin: 0px;
  font-weight: 600;
  text-align: initial;
}

.service-card .service-title {
  padding-right: 20%;
  width: fit-content;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}

.service-card .service-desc {
  padding-top: 2rem;
}

/* .nsia-services [class^='col'] {
  margin-bottom: 8%;

} */

.nsia-services .sr-item {
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 24px;
  border: 4px solid #282560;
  background-repeat: no-repeat;
  height: 86%;
}

.nsia-services .sr-item .service-icon {
  padding: 0px 5%;
  width: fit-content;
  margin-top: -60px;
  background-color: #fff;

}

.nsia-services .sr-item .service-icon img {
  width: 60px;
  height: 60px;
}

.nsia-services .sr-brief {
  margin-top: 5%;
}

.nsia-services .sr-brief h5 {
  font-weight: 600;
  margin-bottom: 26px;
  text-align: initial;
}

.latest-section-lg {
  display: block;
}

.latest-section-res {
  display: none;
}


.latest-section-res .section-title {
  display: flex;
  border-bottom: 1px solid #282560;
  margin: 1rem 0px;
}

.latest-section-res .section-title .info-section {
  flex: auto;
  color: #d2d0d0;
  /* margin-bottom: 0px !important; */
}

.latest-section-res .section-title i {
  margin: 12px;
  margin-bottom: 8px;
  font-size: 1.2rem;

}

.latest-section-res .section-title.active-section {
  color: #01a79b;
  border-bottom: 2px solid #01a79b !important;
}

.latest-section-res .section-title.active-section .info-section {
  color: #282560;
}


.latest-section .navigator-line {
  border-bottom: 2px solid #282560;
  margin-bottom: 10px;
  margin-top: -3px;
}

.latest-section .news-category {
  height: 100%;
  color: #9797a7;
  text-transform: capitalize;
  cursor: pointer;
}


.latest-section .news-category.active-news {
  border-bottom: 5px solid #01a79b;
  color: #282560;
}

.latest-section .news-category.active-news h4 {
  font-weight: 600;
}

.latest-section .news-item-wrapper {
  margin-bottom: 10px;
  height: 250px;
}

.latest-section .news-item {
  width: 100%;
  height: 100%;
  /* max-height: 250px; */
  margin-bottom: 8px;
  cursor: pointer;
}

.latest-section .news-item img {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  object-fit: cover;
}

.latest-section .news-item .contents {
  position: absolute;
  height: 50%;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 15px;
  padding: 16px;
  width: calc(100% - 30px);
  overflow: hidden;
}

.latest-section .news-date {
  top: 0;
  position: absolute;
  right: 0;
  margin-right: 15px;
  background-color: #01a79b;
  color: #fff;
  padding: 1% 4%;
  text-align: center;
}

.latest-section .news-date h4 {
  margin: 0px;
  font-weight: 600;
}

.latest-section .news-date p {
  margin: 0px;
  margin-top: -5px;
}

.latest-section button {
  margin-top: 8px;
}

.news-read-more:disabled,
#events-read-more:disabled {
  cursor: not-allowed;
  color: #667a79;
  border-color: #667a79;
}

.bussiness-card,
.latest-section-card {
  box-shadow: none !important;
  background-color: transparent;
}

.bussiness-carousel {
  width: 100%;
}

.bussiness-carousel .bs-item {
  display: inline-block;
  width: 33%;
}

.bussiness .title {
  display: flex;
}

.bussiness .title h4 {
  text-transform: capitalize;
  font-weight: 600;
  flex: auto;
}

.bussiness .title .t-icon {
  flex: auto;
}

.bussiness .title .t-icon i {
  margin-left: 2px;
}

.bussiness .title .t-icon>div {
  width: fit-content;
  float: right;

}

.bussiness .title:nth-child(odd) {
  border-bottom: 1px solid #01a79b;
}

.bussiness .title.donor-title {
  border-bottom: 1px solid #282560;
}

.bussiness .b-category {
  display: flex;
  margin-top: 4%;
}

.bussiness .bs-item {
  flex: auto;
  text-align: center;
  text-transform: uppercase;
}

.bussiness .bs-item img {
  height: 75px;
  width: 75px;
  cursor: pointer;
  margin-bottom: 12px;
}

.bussiness .bs-item h6 {
  cursor: pointer;
}

.portals {
  width: 100%;
}

.portals-body {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.portal {
  margin: 0px 12px;
}

.billboard {
  direction: ltr !important;
  background: linear-gradient(to right, rgb(39, 35, 97), rgba(39, 35, 97, 0) 100%);
}


.billboard img {
  height: 400px;
}

.billboard .billboard-contents {
  padding: 7rem;
  display: flex;
}

.billboard-contents .event-date {
  display: block;
  text-align: center;
  max-width: 170px;

}

.billboard-contents .event-date .b-date {
  background-color: #3932b9;
  color: #fff;
  padding: 24px;

}

.billboard-contents .event-date .b-date h1 {
  margin-bottom: 0px;
}

.billboard-contents .event-date .b-date p {
  margin-top: -10px;
}

.billboard-contents .event-date .b-register {
  background-color: #fff;
  color: #282560;
  padding: 8px;
  cursor: pointer;
}

.billboard-contents .event-desc {
  margin-left: 25px;
  padding: 15px;
  text-align: justify;
}

.billboard-contents .event-desc p {
  max-width: 400px;
  margin-bottom: 0px !important;
} 
@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .carousel .carousel-item img {
      height: 50vh !important;
    }
    .stat-card h3{
      font-size:1em;
    }
  
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 720px) 
  and (max-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-inner h1{
      font-size: 2em !important;
    }
    .carousel-inner h5{
      font-size: 1em !important;
    }
    .stat-card h3{
      font-size:1.1em;
    }
    
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-inner h1{
      font-size: 13px !important;
    }
    .carousel-inner h5{
      font-size: 9px !important;
      
    }
    .carousel-inner button{
      width: fit-content;
      font-size: 5px;
    }
    .stat-card h3{
      font-size:1.1em;
    }
    .card-body p{
      font-size: 13px;
    }
    .card-body h1{
      font-size: 2em;
    }
    .card-body button{
      width: fit-content;
      font-size: 12px;
    }
    
}
@media only screen 
  and (min-device-width: 460px) 
  and (max-device-width: 850px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-inner h1{
      font-size: 1.2em !important;
    }
    .carousel-inner h5{
      font-size: 12px !important;
    }
    .carousel .carousel-item img {
      height: 100%;
    }
    .carousel-inner button{
      width: fit-content;
      font-size: 10px;
    }
}