<div class="">
  <div id="nsiaCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#nsiaCarousel" data-slide-to="0" class="active" data-toggle="tooltip" data-placement="top" title="NSIA"></li>
      <li data-target="#nsiaCarousel" data-slide-to="1" data-toggle="tooltip" data-placement="top" title="Information Systems"></li>
      <li data-target="#nsiaCarousel" data-slide-to="2" data-toggle="tooltip" data-placement="top" title="Statistics"></li>
      <li data-target="#nsiaCarousel" data-slide-to="3" data-toggle="tooltip" data-placement="top" title="Geographic Information System"></li>
      <li data-target="#nsiaCarousel" data-slide-to="4" data-toggle="tooltip" data-placement="top" title="NID"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" *ngIf="carousel.nsia">
        <img class="d-block w-100" src="{{ carousel.nsia.better_featured_image.source_url }}" alt="{{ carousel.nsia.better_featured_image.alt_text }}">
        <div class="caption w-100 d-block">
          <div class="custom-container">
            <div class="service-details">
              <h1>{{ carousel.nsia.title?.rendered }}</h1>
              <p>{{ carousel.nsia.content?.rendered }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" *ngIf="carousel.stats">
        <img class="d-block w-100" src="{{ carousel.stats.better_featured_image.source_url }}" alt="{{ carousel.stats.better_featured_image.alt_text }}">
        <div class="caption w-100 d-block">
          <div class="custom-container">
            <div class="service-details">
              <h1>{{ carousel.stats.title?.rendered }}</h1>
              <p>{{ carousel.stats.content?.rendered }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" *ngIf="carousel.gis">
        <img class="d-block w-100" src="{{ carousel.gis.better_featured_image.source_url }}" alt="{{ carousel.gis.better_featured_image.alt_text }}">
        <div class="caption w-100 d-block">
          <div class="custom-container">
            <div class="service-details">
              <h1>{{ carousel.gis.title?.rendered }}</h1>
              <p>{{ carousel.gis.content?.rendered }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" *ngIf="carousel.isd">
        <img class="d-block w-100" src="{{ carousel.isd.better_featured_image.source_url }}" alt="{{ carousel.isd.better_featured_image.alt_text }}">
        <div class="caption w-100 d-block">
          <div class="custom-container">
            <div class="service-details">
              <h1>{{ carousel.isd.title?.rendered }}</h1>
              <p>{{ carousel.isd.content?.rendered }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" *ngIf="carousel.nid">
        <img class="d-block w-100" src="{{ carousel.nid.better_featured_image.source_url }}" alt="{{ carousel.nid.better_featured_image.alt_text }}">
        <div class="caption w-100 d-block">
          <div class="custom-container">
            <div class="service-details">
              <h1>{{ carousel.nid.title?.rendered }}</h1>
              <p>{{ carousel.nid.content?.rendered }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#nsiaCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#nsiaCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>



<div class="custom-container">
  <div class="section-wrapper">
    <div class="row">
      <div class="col-lg-3 col-md-6 news-item-wrapper">
        <div class="stat-card card">
          <img src="../../assets/images/population.png" alt="Population">
          <div class="stats bg-gradient">
            <h6>{{ 'stats.population' | translate }}</h6>
            <h3 *ngIf="population">{{ population.acf.statistics }} </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 news-item-wrapper">
        <div class="stat-card card">
          <img src="../../assets/images/gdp.png" alt="gdp">
          <div class="stats ">
            <h6>{{ 'stats.gdp' | translate }}</h6>
            <h3 *ngIf="gdp">{{ gdp.acf.statistics }} </h3>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 news-item-wrapper">
        <div class="stat-card card">
          <img src="../../assets/images/cpi.png" alt="cpi">
          <div class="stats bg-gradient">
            <h6>{{ 'stats.cpi' | translate }}</h6>
            <h3 *ngIf="cpi">{{ cpi.acf.statistics }} </h3>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 news-item-wrapper">
        <div class="stat-card card">
          <img src="../../assets/images/gender.png" alt="Population">
          <div class="stats bg-gradient">
            <h6>{{ 'stats.gender' | translate }}</h6>
            <h3>45% Male</h3>
            <h3>55% Female</h3>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="section-wrapper service-section">
    <div class="card service-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="service-title">
              <h1 class="text-green">NSIA</h1>
              <h1>SERVICES</h1>
            </div>
            <div class="service-desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur delectus, aliquid officiis ipsum
                repellat
                sunt fugit incidunt, ab rem cum omnis culpa illum perspiciatis nesciunt doloremque quisquam quis ea
                adipisci. Corrupti exercitationem inventore recusandae. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tenetur delectus, aliquid officiis ipsum
                repellat
                sunt fugit incidunt, ab rem cum omnis culpa illum perspiciatis nesciunt doloremque quisquam quis ea
                adipisci. Corrupti exercitationem inventore recusandae. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Tenetur delectus, aliquid officiis ipsum
                repellat
                sunt fugit incidunt, ab rem cum omnis culpa illum perspiciatis nesciunt doloremque quisquam quis ea
                adipisci. Corrupti exercitationem inventore recusandae.
              </p>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="nsia-services row">
              <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="carousel.stats">
                <div class="sr-item ">
                  <div class="service-icon">
                    <img [src]="carousel.stats.acf.icon.url" alt="">
                  </div>
                  <div class="sr-brief">
                    <h5>{{ carousel.stats.title?.rendered }}</h5>
                    <p>{{ carousel.stats.content?.rendered }}</p>
                  </div>
                  <div class="read-more">
                    <button class="c-btn-outline-white" routerLink="/services" (click)="updateServiceType('stats')">Read
                      More</button>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="carousel.gis">
                <div class="sr-item ">
                  <div class="service-icon">
                    <img [src]="carousel.gis.acf.icon.url" alt="">
                  </div>
                  <div class="sr-brief">
                    <h5>{{ carousel.gis.title?.rendered }}</h5>
                    <p>{{ carousel.gis.content?.rendered }}</p>
                  </div>
                  <div class="read-more">
                    <button class="c-btn-outline-white" routerLink="/services" (click)="updateServiceType('gis')">Read
                      More</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="carousel.isd">
                <div class="sr-item ">
                  <!-- <img src="../../assets/logo/Div.svg" alt=""> -->
                  <div class="service-icon">
                    <img [src]="carousel.isd.acf.icon.url" alt="">
                  </div>
                  <div class="sr-brief">
                    <h5>{{ carousel.isd.title?.rendered }}</h5>
                    <p>{{ carousel.isd.content?.rendered }}</p>
                  </div>
                  <div class="read-more">
                    <button class="c-btn-outline-white" routerLink="/services" (click)="updateServiceType('sdu')">Read
                      More</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="carousel.nid">
                <div class="sr-item ">
                  <div class="service-icon">
                    <img [src]="carousel.nid.acf.icon.url" alt="">
                  </div>
                  <div class="sr-brief">
                    <h5>{{ carousel.nid.title?.rendered }}</h5>
                    <p>{{ carousel.nid.content?.rendered }}</p>
                  </div>
                  <div class="read-more">
                    <button class="c-btn-outline-white" routerLink="/services" (click)="updateServiceType('nid')">Read
                      More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-wrapper latest-section">
    <div class="nav row" id="nav-tab" role="tablist">
      <div class="col-md-3 col-sm-6 active ls-btn" id="nav-news-tab" data-toggle="tab" data-target="#nav-news" role="tab"
        aria-controls="nav-news" aria-selected="true" redirect-url="/media-room/news-updates">
        <div class="news-category active-news news-cat">
          <h4>Latest News</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ls-btn" id="nav-publications-tab" data-toggle="tab" data-target="#nav-publications"
        role="tab" aria-controls="nav-publications" aria-selected="false" redirect-url="/library/articles">
        <div class="news-category news-cat">
          <h4>Latest Publications</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ls-btn" id="nav-press-tab" data-toggle="tab" data-target="#nav-press" role="tab"
        aria-controls="nav-press" aria-selected="false" redirect-url="/media-room/press-release">
        <div class="news-category news-cat">
          <h4>Press Release</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ls-btn" id="nav-announcements-tab" data-toggle="tab" data-target="#nav-announcements"
        role="tab" aria-controls="nav-announcements" aria-selected="false" redirect-url="/media-room/news-updates">
        <div class="news-category news-cat">
          <h4>Important Announcements</h4>
        </div>
      </div>
    </div>
    <div class="navigator-line"></div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">
        <div class="row" *ngIf="newsBriefs.news != ''; else nonews">
          <div class="col-lg-3 col-md-6 news-item-wrapper" *ngFor="let nw of newsBriefs.news">
            <div class="news-item">
              <img src="{{ nw.better_featured_image.source_url }}" alt="{{ nw.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ nw.title.rendered }}</h4>
                <p>{{ nw.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ nw.day }}</h4>
                <p>{{ nw.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #nonews>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
      <div class="tab-pane fade" id="nav-publications" role="tabpanel" aria-labelledby="nav-publications-tab">
        <div class="row" *ngIf="newsBriefs.publications != ''; else nopublications">
          <div class="col-lg-3 col-md-6 news-item-wrapper" *ngFor="let pb of newsBriefs.publications">
            <div class="news-item">
              <img src="{{ pb.better_featured_image.source_url }}" alt="{{ pb.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ pb.title.rendered }}</h4>
                <p>{{ pb.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ pb.day }}</h4>
                <p>{{ pb.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #nopublications>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
      <div class="tab-pane fade" id="nav-press" role="tabpanel" aria-labelledby="nav-press-tab">
        <div class="row" *ngIf="newsBriefs.press != ''; else nopress">
          <div class="col-lg-3 col-md-6 news-item-wrapper" *ngFor="let pr of newsBriefs.press">
            <div class="news-item">
              <img src="{{ pr.better_featured_image?.source_url }}" alt="{{ pr.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ pr.title.rendered }}</h4>
                <p>{{ pr.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ pr.day }}</h4>
                <p>{{ pr.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #nopress>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
      <div class="tab-pane fade" id="nav-announcements" role="tabpanel" aria-labelledby="nav-announcements-tab">
        <div class="row" *ngIf="newsBriefs.announcements != ''; else noannouncements">
          <div class="col-lg-3 col-md-6 news-item-wrapper" *ngFor="let an of newsBriefs.announcements">
            <div class="news-item">
              <img src="{{ an.better_featured_image.source_url }}" alt="{{ an.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ an.title.rendered }}</h4>
                <p>{{ an.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ an.day }}</h4>
                <p>{{ an.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noannouncements>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <button class="btn btn-lg btn-outline-info" (click)="readMoreRedirect($event.target)" id="news-read-more">Read
          More</button>
      </div>
    </div>
  </div>


  <div class="section-wrapper bussiness">
    <div class=" bussiness-card">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="title">
            <h4>stakeholders</h4>
            <div class="t-icon">
              <div>
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="stakeholders b-category">
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6">
          <div class="title donor-title">
            <h4>donors</h4>
            <div class="t-icon">
              <div>
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="donors b-category">
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-6">
          <div class="title">
            <h4>customers</h4>
            <div class="t-icon">
              <div>
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="customers b-category">
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
            <div class="bs-item">
              <img src="../../assets/logo/national-emblem.svg" alt="stakeholder">
              <h6>Government</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-wrapper billboard">
    <div class="card">
      <img src="../../assets/images/billboard.png" alt="">
      <div class="billboard-contents">
        <div class="event-date">
          <div class="b-date">
            <h1 id="day">24th</h1>
            <p id="month">December</p>
          </div>
          <!-- <div class="b-register">
            <span>Register</span>
          </div> -->
        </div>
        <div class="event-desc">
          <h1><b>
              Remote Sensing Discovery Day
            </b> </h1>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatum odio omnis est voluptatibus? </p>
        </div>
      </div>
    </div>
  </div>


  <div class="section-wrapper latest-section">
    <div class="nav row" id="nav-tab" role="tablist">
      <div class="col-md-4 col-sm-6 ls ls-btn" id="nav-events-tab" data-toggle="tab" data-target="#nav-events" role="tab"
        aria-controls="nav-events" aria-selected="true" redirect-url="/media-room/event">
        <div class="news-category active-news events-cat">
          <h4>Upcoming Events</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 ls-btn" id="nav-upcoming_publications-tab" data-toggle="tab" data-target="#nav-upcoming_publications"
        role="tab" aria-controls="nav-upcoming_publications" aria-selected="false" redirect-url="/library/articles">
        <div class="news-category events-cat">
          <h4>Upcoming Publications</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 ls-btn" id="nav-surveys-tab" data-toggle="tab" data-target="#nav-surveys" role="tab"
        aria-controls="nav-surveys" aria-selected="false" redirect-url="/library/reports">
        <div class="news-category events-cat">
          <h4>Surveys</h4>
        </div>
      </div>
    </div>
    <div class="navigator-line"></div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
        <div class="row" *ngIf="newsBriefs.events != ''; else noevents">
          <div class="col-md-4 col-sm-6" *ngFor="let ev of newsBriefs.events">
            <div class="news-item">
              <img src="{{ ev.better_featured_image?.source_url }}" alt="{{ ev.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ ev.title.rendered }}</h4>
                <p>{{ ev.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ ev.day }}</h4>
                <p>{{ ev.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noevents>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
      <div class="tab-pane fade" id="nav-upcoming_publications" role="tabpanel" aria-labelledby="nav-upcoming_publications-tab">
        <div class="row" *ngIf="newsBriefs.upcoming_publications != ''; else nouPubs">
          <div class="col-md-4 col-sm-6" *ngFor="let upb of newsBriefs.upcoming_publications">
            <div class="news-item">
              <img src="{{ upb.better_featured_image?.source_url }}" alt="{{ upb.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ upb.title.rendered }}</h4>
                <p>{{ upb.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ upb.day }}</h4>
                <p>{{ upb.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #nouPubs>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
      <div class="tab-pane fade" id="nav-surveys" role="tabpanel" aria-labelledby="nav-surveys-tab">
        <div class="row" *ngIf="newsBriefs.surveys != ''; else nousurveys">
          <div class="col-md-4 col-sm-6" *ngFor="let srv of newsBriefs.surveys">
            <div class="news-item">
              <img src="{{ srv.better_featured_image?.source_url }}" alt="{{ srv.better_featured_image.alt_text }}"
                (error)="imageError($event.target);">
              <div class="contents bg-gradient">
                <h4>{{ srv.title.rendered }}</h4>
                <p>{{ srv.acf.brief }}</p>
              </div>
              <div class="news-date">
                <h4>{{ srv.day }}</h4>
                <p>{{ srv.month }}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #nousurveys>
          <div class="jumbotron text-center no-data">
            <h4>NO DATA</h4>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <button class="btn btn-lg btn-outline-info" (click)="readMoreRedirect($event.target)" id="events-read-more">Read
          More</button>
      </div>
    </div>
  </div>






  <!-- 
  <h1> {{ 'demo.title' | translate:{'name': 'NSIA'} }}</h1>

  <h1>{{ title }}</h1> -->


</div>
