.footer {
  background-color: #282560;
  color: #fff;
  text-align: center;



  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.footer .contents-wrapper {
  padding: 16px 0px;
}

.footer .contents {
  display: flex;
}

.footer .copy-right,
.footer .social-media {
  flex: 45%;
}

.footer-logo img {
  height: 60px;
  width: 60px;
  float: left;
}

.footer .copy-right span {
  float: left;
}

.footer .social-media>div {
  float: right;
}

.footer .social-media i {
  margin: 2px;
  cursor: pointer;
}

.footer .copy-right,
.footer .social-media {
  margin-bottom: auto;
  margin-top: auto;
  padding: 8px;
}

.footer .social-media {
  float: right;
}
