.quick-links {
  margin-top: 2rem;
  background-color: #f2f2f2;
  padding: 4% 0%;
  z-index: 20;

}

.quick-links .link-title {
  border-bottom: 1px solid #282560;
}

.quick-links .links {
  padding: 4px;
}

.quick-links ul {
  list-style: none;
  padding: 0px;
}

.quick-links a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

.quick-links i {
  font-size: 8px;
  position: relative;
  top: -2px;
  margin-right: 2%;
}

.quick-links #email {
  border: none;
  border-bottom: 1px solid #282560;
  display: block;
  background: transparent;
  width: 100%;
  padding: 4px;
  margin-bottom: 8%;
}

.quick-links .subscribe-btn {
  padding: 6px 16px;
  background-color: #282560;
  color: #fff;
  border: none;
}

.quick-links .subscribe-btn:disabled {
  background-color: #636183;
  cursor: not-allowed;
}

.quick-links .alert {
  display: none;
}

.footer {
  background-color: #282560;
  color: #fff;
  text-align: center;
  left: 0;
  bottom: 0;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  z-index: 20;

}

.footer .contents-wrapper {
  padding: 16px 0px;
}

.footer .contents {
  display: flex;
}

.footer .copy-right,
.footer .social-media {
  flex: 45%;
}

.footer-logo img {
  height: 60px;
  width: 60px;
  float: left;
}

.footer .copy-right span {
  float: left;
}

.footer .social-media>div {
  float: right;
}

.footer .social-media i {
  margin: 8px;
  cursor: pointer;
  font-size: 160%;
}

.footer .copy-right,
.footer .social-media {
  margin-bottom: auto;
  margin-top: auto;
  padding: 8px;
}

.footer .social-media {
  float: right;
}
