  <div class="footer">
    <div class="custom-container">
      <div class="contents-wrapper">
        <div class="contents">
          <div class="footer-logo">
            <img src="../../../assets/logo/flag-design.png" alt="flat logo">
          </div>

          <div class="copy-right">
            <span>
              <b>
                © {{ year }}, All rights reserved, National Statistics and Information Authority
              </b>
            </span>
          </div>

          <div class="social-media">
            <div>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-f"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
