<!-- <router-outlet></router-outlet> -->
<div class="custom-container">

  <div class="full-details content-justify">
    <div class="info-wrapper" *ngIf="selectedInfo">
      <h1>{{ selectedInfo.title.rendered }}</h1>
      <div class="info-details">
        <div class="full-media">
          <img class="fit-cover" [src]="selectedInfo.better_featured_image?.source_url" alt="image"
            *ngIf="selectedInfo.acf.attachment_type === 'image'" (error)="imageError($event.target)">

          <iframe [src]="videoURL(selectedInfo.acf.link)" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen *ngIf="selectedInfo.acf.attachment_type === 'video'"></iframe>
        </div>
        <div class="full-text">
          <p> {{ selectedInfo.content.rendered }}</p>
        </div>
      </div>
    </div>
    <div class="close-btn" (click)="hideFullInfo()">
      X
    </div>
  </div>

  <div class="main-wrapper">

    <nav class="sidebar-nav">
      <div class="sidebar">
        <div class="sidebar-menu">
          <ul>
            <li class="ai-type active-type"
              [class.active-type]="currentSection == 'guidelines' || currentSection == undefined"
              (click)="scrollTo('guidelines', $event.target)">
              <i class="fas fa-chevron-right"></i>
              <span>{{'label.guidelines' | translate }}</span>
            </li>
            <li class="ai-type" [class.active-type]="currentSection == 'statistics'"
              (click)="scrollTo('statistics', $event.target)">
              <i class="fas fa-chevron-right"></i>
              <span>{{'submenu.statistics' | translate}}</span>
            </li>
            <li class="ai-type" [class.active-type]="currentSection == 'national_identity'"
              (click)="scrollTo('national_identity', $event.target)">
              <i class="fas fa-chevron-right"></i>
              <span>{{'submenu.nid' | translate}}</span>
            </li>
            <li class="ai-type" [class.active-type]="currentSection == 'regulations'"
              (click)="scrollTo('regulations', $event.target)">
              <i class="fas fa-chevron-right"></i>
              <span>{{'label.regulations' | translate}}</span>
            </li>
            <li class="ai-type" [class.active-type]="currentSection == 'policies'"
              (click)="scrollTo('policies', $event.target)">
              <i class="fas fa-chevron-right"></i>
              <span>{{'btn.policies' | translate}}</span>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="sidebar-toggler">
      <div class="t-btn" (click)="toggleNavbar()">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
    <div class="contents">

      <!-- <router-outlet></router-outlet> -->
      <div id="ai-sections" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)"
        (scroll)="getScroll($event.target)" *ngIf="accessInfo">
        <div id="guidelines">
          <div class="section-title active-section">
            <h4 class="info-section ">{{'label.guidelines' | translate }}</h4>
            <!-- <i class="fas fa-chevron-down"></i> -->
          </div>
          <div class="section-details" *ngIf="sectionExist('guidlines')">
            <div class="row">
              <ng-container *ngFor="let info of accessInfo">
                <div class="info-card col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="info.acf.info_type==='guidlines'">
                  <div class="info-item" (click)="showInfo(info)">
                    <div class="info-item-media">
                      <img [src]="info.better_featured_image?.source_url" alt="media item"
                        (error)="imageError($event.target);">
                      <div class="blue-mask">
                        <div class="media-icon">
                          <i class="fab fa-youtube" *ngIf="info.acf.attachment_type==='video'"></i>
                          <i class="fas fa-image" *ngIf="info.acf.attachment_type==='image'"></i>
                        </div>
                      </div>
                    </div>
                    <div class="info-item-title">
                      <p>{{ info.title.rendered }}</p>
                    </div>
                    <div class="info-item-brief" *ngIf="info.content">
                      <small>{{ getBrief(info.content.rendered) }}</small>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div id="statistics">
          <div class="section-title">
            <h4 class="info-section ">{{'submenu.statistics' | translate}}</h4>
            <!-- <i class="fas fa-chevron-down"></i> -->
          </div>
          <div class="section-details" *ngIf="sectionExist('statistics')">
            <div class="row">
              <ng-container *ngFor="let info of accessInfo">
                <div class="info-card col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="info.acf.info_type==='statistics'">
                  <div class="info-item" (click)="showInfo(info)">
                    <div class="info-item-media">
                      <img [src]="info.better_featured_image?.source_url" alt="media item"
                        (error)="imageError($event.target);">
                      <div class="blue-mask">
                        <div class="media-icon">
                          <i class="fab fa-youtube" *ngIf="info.acf.attachment_type==='video'"></i>
                          <i class="fas fa-image" *ngIf="info.acf.attachment_type==='image'"></i>
                        </div>
                      </div>
                    </div>
                    <div class="info-item-title">
                      <p>{{ info.title.rendered }}</p>
                    </div>
                    <div class="info-item-brief" *ngIf="info.content">
                      <small>{{ getBrief(info.content.rendered) }}</small>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div id="national_identity">
          <div class="section-title">
            <h4 class="info-section ">{{'submenu.nid' | translate}}</h4>
            <!-- <i class="fas fa-chevron-down"></i> -->
          </div>
          <div class="section-details" *ngIf="sectionExist('national_identity')">
            <div class="row">
              <ng-container *ngFor="let info of accessInfo">
                <div class="info-card col-lg-4 col-md-4 col-sm-6 col-xs-12"
                  *ngIf="info.acf.info_type==='national_identity'">
                  <div class="info-item" (click)="showInfo(info)">
                    <div class="info-item-media">
                      <img [src]="info.better_featured_image?.source_url" alt="media item"
                        (error)="imageError($event.target);">
                      <div class="blue-mask">
                        <div class="media-icon">
                          <i class="fab fa-youtube" *ngIf="info.acf.attachment_type==='video'"></i>
                          <i class="fas fa-image" *ngIf="info.acf.attachment_type==='image'"></i>
                        </div>
                      </div>
                    </div>
                    <div class="info-item-title">
                      <p>{{ info.title.rendered }}</p>
                    </div>
                    <div class="info-item-brief" *ngIf="info.content">
                      <small>{{ getBrief(info.content.rendered) }}</small>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div id="regulations">
          <div class="section-title">
            <h4 class="info-section ">{{'label.regulations' | translate}}</h4>
            <!-- <i class="fas fa-chevron-down"></i> -->
          </div>
          <div class="section-details" *ngIf="sectionExist('regulations')">
            <div class="row">
              <ng-container *ngFor="let info of accessInfo">
                <div class="info-card col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="info.acf.info_type==='regulations'">
                  <div class="info-item" (click)="showInfo(info)">
                    <div class="info-item-media">
                      <img [src]="info.better_featured_image?.source_url" alt="media item"
                        (error)="imageError($event.target);">
                      <div class="blue-mask">
                        <div class="media-icon">
                          <i class="fab fa-youtube" *ngIf="info.acf.attachment_type==='video'"></i>
                          <i class="fas fa-image" *ngIf="info.acf.attachment_type==='image'"></i>
                        </div>
                      </div>
                    </div>
                    <div class="info-item-title">
                      <p>{{ info.title.rendered }}</p>
                    </div>
                    <div class="info-item-brief" *ngIf="info.content">
                      <small>{{ getBrief(info.content.rendered) }}</small>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div id="policies">
          <div class="section-title">
            <h4 class="info-section ">{{'btn.policies' | translate}}</h4>
            <!-- <i class="fas fa-chevron-down"></i> -->
          </div>
          <div class="section-details" *ngIf="sectionExist('policies')">
            <div class="row">
              <ng-container *ngFor="let info of accessInfo">
                <div class="info-card col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="info.acf.info_type==='policies'">
                  <div class="info-item" (click)="showInfo(info)">
                    <div class="info-item-media">
                      <img [src]="info.better_featured_image?.source_url" alt="media item"
                        (error)="imageError($event.target);">
                      <div class="blue-mask">
                        <div class="media-icon">
                          <i class="fab fa-youtube" *ngIf="info.acf.attachment_type==='video'"></i>
                          <i class="fas fa-image" *ngIf="info.acf.attachment_type==='image'"></i>
                        </div>
                      </div>
                    </div>
                    <div class="info-item-title">
                      <p>{{ info.title.rendered }}</p>
                    </div>
                    <div class="info-item-brief" *ngIf="info.content">
                      <small>{{ getBrief(info.content.rendered) }}</small>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ng-template #nodata>
          <div class="contents">
            <div class="jumbotron text-center no-data">
              <h4>NO DATA</h4>
            </div>
          </div>
        </ng-template> -->
  </div>
</div>
